<%= form_with(model: issue, local: true) do |form| %>

  

  <div class="field">
    <%= form.label 'Title' %>
    <%= form.text_area :name %>
  </div>

  <div class="field">
    <%= form.label 'Description' %>
    <%= form.text_area :text %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

