<%=  simple_form_for(@group) do |f| %>
  <%= f.error_notification %>

  <div class="field">
    <label class="label">Name</label>
      <div class="control">
        <%= f.input_field :name, 
                    label: false,
                    required: true,
                    placeholder: 'Name',
                    class: 'input',
                    autofocus: true %>
      </div>
      <div class="control">
       <%= f.association :countries, multiple: true, as: :check_boxes %>
        </div>
  </div>
  <div class="field">
    <%= f.button :submit %>
    </div>
    <% end %>

