<%= render "/navbar" %>
<p id="notice"><%= notice %></p>

<h1 class = "title">Groups</h1>

<%= search_form_for @q do |f| %>
  <%= f.label 'Name' %>
  <%= f.search_field :name_cont %>
  <br>
  <%= f.label 'From' %>
  <%= f.search_field :countries_name_cont %>

  <%= f.submit "search" %>
<% end %>


<table class = "table">
  <tr>
    <th> <%= sort_link @q, :name, "Group"%></th>
    <th> <%= sort_link @q, :country, "Countries"%></th>
  </tr>
  <% @groups.each do |group| %>
  <tr>
    <td><%= link_to group.name, group %></td>
    <td><% group.countries.each do |country| %> 
          <%= link_to country.name, country %>
          <% end %></td>
    <td><% group.albums.each do |album| %>
          <% album.genres.each do |genre| %> 
            <%= link_to genre.name, genre %>
            <% end %>
          <% end %></td>
  </tr>
  <% end %>
</table>