<%= render "/navbar" %>
<p id="notice"><%= notice %></p>

<h1 class = "title">Events</h1>

<%= search_form_for @q do |f| %>
  <%= f.label 'Name' %>
  <%= f.search_field :name_cont %>
  <br>

  

  <%= f.submit "search" %>
<% end %>


<table class = "table">
  <tr>
    <th> <%= sort_link @q, :name, "Event"%></th>
    <th> <%= sort_link @q, :place, "Place"%></th>
    <th> <%= sort_link @q, :city,"City"%></th>
  </tr>
  <% @events.each do |event| %>
  <tr>
    <td><%= link_to event.name, event %></td>
    <td><%= link_to event.place.name, event.place %></td>
    <td><%= link_to event.place.city.name, event.place.city %></td>
    
  </tr>
  <% end %>
</table>