<p id="notice"><%= notice %></p>

<p>
  <strong>Good:</strong>
  <%= @order.good_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Contacts:</strong>
  <%= @order.contacts %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
