<%= render "/navbar" %>
<p id="notice"><%= notice %></p>

<h1 class = 'title'>Albums</h1>
<%= search_form_for @q do |f| %>
  <%= f.label 'Name' %>
  <%= f.search_field :name_cont %>
  <br>
  <%= f.label 'Genre name contain' %>
  <%= f.search_field :genres_name_cont %>

  <%= f.submit "search" %>
<% end %>


<table class = "table">
  <tr>
    <th> <%= sort_link @q, :name, "Album"%></th>
    <th> <%= sort_link @q, :group, "Group"%></th>
  </tr>
  <% @albums.each do |album| %>
  <tr>
    <td><%= link_to album.name, album %></td>
    <td><%= link_to album.group.name, album.group %></td>
    <td><% album.genres.each do |genre| %> 
          <%= link_to genre.name, genre %>
          <% end %></td>
    
  </tr>
  <% end %>
</table>