<%= render "/navbar" %>
<p id="notice"><%= notice %></p>
<div class="columns">
    <div class="column">
        <figure class="image is-square">
          <%= link_to image_tag(@album.cover_url) %>
        </figure>
    </div>
    <div class="column">
    <p>Album</p>
        <h1 class="title">
          <%= @album.name %>
        </h1>

        <h1 class="subtitle">
          by <%= @album.group.name %>
        </h1>
        <p> <%= @album.release %> </p>
        <% @album.genres.each do |genre|%>
          <p>#<%= genre.name %></p>
          <% end %>
    </div>
            
        <div class="column">
        <% @songs.each do |song| %>
            <h1 class='subtitle'><%= song.name %></p> <%= link_to audio_tag(song.audio_url, controls: true) %>
            <% end %>
    </div>       
    </div>
        <%= link_to 'Edit', edit_album_path(@album) %> |
        <%= link_to 'Back', albums_path %>   |
        <%= link_to 'Manage songs', songs_path( album: @album ) %>
