<%= render "/navbar" %>
<p id="notice"><%= notice %></p>

<h1 class = "title">Goods</h1>

<%= search_form_for @q do |f| %>
  <%= f.label 'Name' %>
  <%= f.search_field :name_cont %>
  <%= f.label 'Description' %>
  <%= f.search_field :description_cont %>
  <br>

  

  <%= f.submit "search" %>
<% end %>


<table class = "table">
  <tr>
    <th> <%= sort_link @q, :name, "Good"%></th>
    <th> <%= sort_link @q, :description, "description"%></th>
    <th> <%= sort_link @q, :price,"price"%></th>
    <th> <%= "quantity"%></th>
    <th> <%= "photo"%></th>
  </tr>
  <% @goods.each do |good| %>
  <tr>
    <td><%= link_to good.name, good %></td>
    <td><%= link_to good.description, good %></td>
    <td><%= link_to good.price, good %>$</td>
    <td><%= link_to good.quantity, good %></td>
    <td><%= link_to image_tag(good.cover_url), good %></td>
    
  </tr>
  <% end %>
</table>