<%= render "/navbar" %>
<p id="notice"><%= notice %></p>
<div class="columns">
    <div class="column">
        <h1 class="title">
          <%= @good.name %>
        </h1>
    </div>
            
    <div class="column subtitle">
        <%= @good.description %><br><br><br>
        Price:<h1 class="bold"><%= @good.price %>$</h1><br>
        Quantity: <%= @good.quantity %>
    </div>
    <div class="column">
        <figure class="image is-square">
          <%= link_to image_tag(@good.cover_url) %>
        </figure>
        <br>
        
           <%= link_to 'Purchase', new_order_path(good_id: @good.id), class: "title box"  %>
        
    </div>       
</div>
        