<%= render "/navbar" %>
<p id="notice"><%= notice %></p>

<h1 class = "title">Countries</h1>

<%= search_form_for @q do |f| %>
  <%= f.label 'Name' %>
  <%= f.search_field :name_cont %>

  <%= f.submit "search" %>
<% end %>


<table class = "table">
  <tr>
    <th> <%= sort_link @q, :name, "Country"%></th>
  </tr>
  <% @countries.each do |country| %>
  <tr>
    <td><%= link_to country.name, country %></td>    
  </tr>
  <% end %>
</table>